@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
  /* spacing */
  --spacing-unit: 8px;

  /* basic colors */
  --dark-color: #1a1a1a;
  --light-color: #f0f0f0;
  --primary-color: #4a90e2; /* A nice blue */
  --secondary-color: #d4af37; /* Gold accent */

  /* sidebar */
  --background-sidebar: #2c2c2c;

  /* panel */
  --box-shadow-panel: 0 0 12px rgba(0, 0, 0, 0.5);

  /* button */
  --background-button: var(--primary-color);
  --color-button: var(--light-color);
  --background-button-disabled: #555;
  --color-button-disabled: #aaa;

  --toolbar-size: calc(5 * var(--spacing-unit));
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100svw;
  height: 100svh;

  scroll-behavior: none;
  position: fixed;
  overflow: hidden;
  font-family: 'Source Sans 3', sans-serif;
}

ul,
ol {
  /*list-style-type: none;*/
  margin-left: 2em;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--dark-color);
  color: var(--light-color);
  background-image: radial-gradient(circle, rgba(255,255,255,0.05) 1px, transparent 1px);
  background-size: 20px 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lora', serif;
}
