:root {
  /* spacing */
  --spacing-unit: 8px;

  /* basic colors */
  --dark-color: black;
  --primary-color: blue;
  --secondary-color: purple;

  /* sidebar */
  --background-sidebar: gray;

  /* panel */
  --box-shadow-panel: 0 0 8px rgba(0, 0, 0, 0.3);

  /* button */
  --background-button: var(--primary-color);
  --color-button: white;
  --background-button-disabled: black;
  --color-button-disabled: lightgray;

  --toolbar-size: calc(5 * var(--spacing-unit));
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100svw;
  height: 100svh;

  scroll-behavior: none;
  position: fixed;
  overflow: hidden;
}

ul,
ol {
  /*list-style-type: none;*/
  margin-left: 2em;
}

body {
  display: flex;
  flex-direction: column;
}
