.title {
  flex: 0 0 auto;

  padding: var(--spacing-unit);
  font-size: 1.7rem;
  font-weight: bold;
  font-family: var(--font-mono);
  border-bottom: 1px solid var(--color-border);
  padding-bottom: var(--spacing-unit);
}

.description {
  flex: 0 0 auto;

  padding: var(--spacing-unit);
  font-size: 1rem;
  font-weight: normal;
  font-family: var(--font-serif);
  border-bottom: 1px solid var(--color-border);
  padding-bottom: var(--spacing-unit);
}

.links {
  flex: 1 1 0;
  min-height: 0;

  padding: var(--spacing-unit);
  margin-top: calc(2 * var(--spacing-unit));
  display: flex;
  flex-direction: column;
  gap: var(--spacing-unit);
  align-items: flex-start;
  justify-content: flex-end;
  margin-bottom: var(--toolbar-size);
}
