.tags {
  flex: 1 1 0;
  min-height: 0;
  overflow-y: auto;

  padding: var(--spacing-unit);

  display: flex;
  flex-direction: column;
  gap: var(--spacing-unit);
  align-items: flex-start;
}

.tag {
  font-family: var(--font-heading);
}
