.AppPage {
  flex: 1 1 0;
  min-height: 0;

  display: flex;
  flex-direction: row;
}

.toolbar {
  flex: 0 0 auto;

  width: var(--toolbar-size);

  background: var(--background-sidebar);
  border-right: 1px solid var(--primary-color);

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  & > .navigation {
    padding: var(--spacing-unit) 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-unit);

    & > .item {
      writing-mode: vertical-lr;
      text-orientation: mixed;
      display: inline-block;
      transform: rotate(180deg);
      font-family: var(--font-heading);
    }
  }

  & > .cornerstone {
    background-color: var(--primary-color);
    height: var(--toolbar-size);
    width: var(--toolbar-size);
  }
}

.main {
  flex: 1 1 0;
  min-width: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
