.ArticlePreview {
  padding: var(--spacing-unit);

  display: flex;
  flex-direction: column;
  gap: var(--spacing-unit);

  & > .title {
    & > a {
      text-decoration: none;
    }
  }

  & > .tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--spacing-unit);
  }

  & > .addedDate {
    text-align: right;
    font-style: italic;
  }

  & > .publishedTime {
    text-align: right;
    font-style: italic;
  }

  & > .summary {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing-unit));
  }
}
