.ArticlePreview {
  padding: calc(2 * var(--spacing-unit));
  display: flex;
  flex-direction: column;
  gap: var(--spacing-unit);
  border: 1px dotted var(--color-border-dotted);
  border-radius: 4px;
  margin-bottom: calc(2 * var(--spacing-unit)); /* Add some space between articles */
}

.ArticlePreview > .title > a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--color-primary);
}

.ArticlePreview > .title > a:hover {
  text-decoration: underline;
}

.ArticlePreview > .tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--spacing-unit);
}

.ArticlePreview > .addedDate,
.ArticlePreview > .publishedTime {
  text-align: right;
  font-style: italic;
  font-size: 0.8rem;
  color: #666;
  font-family: var(--font-mono);
}

.ArticlePreview > .summary {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-unit);
  font-size: 0.9rem;
  line-height: 1.6;
}
