.FocusSpan {
  display: inline-block;
  text-underline-offset: 4px;
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--color-border-dotted);
}
