.Tag {
  display: inline-block;
  color: var(--color-secondary);
  padding: calc(0.25 * var(--spacing-unit)) calc(0.75 * var(--spacing-unit));
  border: 1px solid var(--color-secondary);
  text-decoration: none;
  font-size: 0.6rem;
  font-family: var(--font-mono);
  transition: background-color 0.2s ease-in-out;
  background-color: transparent;
}
