html,
body {
    margin: 0;
    padding: 0;

    scroll-behavior: none;
}

.App {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;

    & > .Header {
        flex: 0 0 auto;
    }

    & > .notes {
        flex: 1 1 0;
        overflow-y: auto;
        min-height: 0;
    }
}

.Header {
    margin: 0.5rem;
    padding: 0.5rem;

    background: #f5f5f5;

    & > .title {
    }
}

.Note {
    margin: 0.5rem;
    padding: 0.5rem;

    background: #f5f5f5;

    & > .url {
    }

    & > .date {
    }

    & > .abstract {
    }

    & > .tags {
    }
}

.Tag {
}
