:root {
    --background--color: light-dark(white, black);
    --panel--color: color-mix(
        in hsl,
        transparent,
        light-dark(black, white) 20%
    );
    /* --accent--color: color-mix(in hsl, transparent, orange 50%); */
    --accent--color: #cc8500;
    --text--color: light-dark(black, white);
}

html,
body {
    color-scheme: light dark;

    margin: 0;
    padding: 0;

    scroll-behavior: none;

    background-color: var(--background--color);
    color: var(--text--color);

    a {
        color: var(--text--color);
        text-decoration: none;
    }
}

.App {
    margin: auto;
    width: 100vw;
    max-width: 600px;
    height: 100vh;

    display: flex;
    flex-direction: column;

    & > .Header {
        flex: 0 0 auto;
    }

    & > .notes {
        flex: 1 1 0;
        overflow-y: auto;
        min-height: 0;
    }
}

.Header {
    margin: 0.5rem;
    padding: 0.5rem;

    border-radius: 0.5rem;

    background: var(--panel--color);

    & > .title {
    }
}

.Note {
    margin: 0.5rem;
    padding: 0.5rem 0;

    border-radius: 0.5rem;

    background: var(--panel--color);

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &:target {
        /* outline: none; */
        /* box-shadow: 0 0 0 2px var(--accent--color); */

        box-shadow: 0 0 0 0.3rem var(--accent--color);
    }

    & > div {
        padding: 0 0.5rem;
    }

    & > .url,
    & > .name {
        padding: 0.5rem;

        background: var(--accent--color);
        font-size: 1.5em;

        display: flex;
        flex-direction: row;
        align-items: flex-start;
        /* justify-content: center; */
        gap: 1rem;

        .icon {
            width: 1.5rem;
        }
    }

    & > .date {
    }

    & > .abstract {
        padding: 0.5rem;

        line-height: 1.5;
        background-color: color-mix(
            in hsl,
            transparent,
            light-dark(white, black) 50%
        );
    }

    & > .tags {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.5rem;
    }
}

.Tag {
    display: inline-block;
    padding: 0.2rem;
    background: var(--accent--color);
}

a.raw {
    word-break: break-all;
}
