.previews {
  flex: 1 1 0;
  min-height: 0;
  overflow-y: auto;
  padding: calc(2 * var(--spacing-unit));
  display: flex;
  flex-direction: column;
  gap: calc(2 * var(--spacing-unit));
}

.addedDate {
  text-align: right;
  font-size: 1rem;
  color: var(--color-primary);
  font-family: var(--font-mono);
}

.toolbar {
  flex: 0 0 auto;
  height: var(--toolbar-size);
  padding: 0 var(--spacing-unit);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--color-border);
  background-color: transparent;
  font-size: var(--toolbar-font-size);
}

.toolbar > .navigation {
  padding: var(--spacing-unit);
  display: flex;
  flex-direction: row;
  gap: var(--spacing-unit);
}

.toolbar > .location {
  font-style: italic;
  color: var(--color-terciary);
  justify-self: flex-end;
  padding: var(--spacing-unit);
  font-family: var(--font-mono);
  line-height: 7px;
}
